@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root {
  --darker-bg: #4b6584;
  --dark-bg: #778ca3;
  --light-bg: #a5b1c2;
  --lighter-bg: #d1d8e0;
}

.attractive {
  background-color: var(--dark-bg)!important;
}

/* header styles */
.header-menu {
  background-color: var(--lighter-bg);
  display: flex;
  align-items: center;
  padding: 16px 40px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li{
  width: 95px;
  height: 40px;
  background-color: var(--light-bg);
  margin: 10px;
  list-style-type: none;
  border-radius: 5px;
}

.nav-links li:hover {
  background-color: var(--dark-bg);
}

.nav-links li:last-child {
  background-color: var(--dark-bg);
}

.header-menu .logo {
  width: 214px;
  height: 71px;
  background-color: var(--light-bg);
  border-radius: 5px;
}

.header-menu .search {
  background-color: var(--light-bg);
  width: 350px;
  height: 57px;
  border-radius: 5px;
}

/* profile section styles */
#profile-container {
  display: flex;
  flex-wrap: wrap;
}

#profile-container .profile {
  width: 50%;
  height: 778px;
  background-color: var(--lighter-bg);
  padding: 199px 65px 139px;
  box-shadow: inset 0 0 20px #4b65843b;
  position: relative;
}

.profile-image {
  width: 87px;
  height: 97px;
  background-color: var(--darker-bg);
  border-radius: 5px;
  float: left;
  }

.rotation {
  transform-origin: bottom left;
  transform: rotate(-11deg);
}

.rotation:hover{
  transform: rotate(0deg);
  transition: transform .2s;
}

.profile .name {
  height: 33px;
  width: 219px;
  background-color: var(--light-bg);
  border-radius: 5px;
  float: left;
  margin-top: 20px;
  margin-left: 12px;
}

.profile .title-div {
  clear: both;
  background-color: var(--darker-bg);
  width: 576px;
  min-height: 162px;
  border-radius: 5px;
  margin-top: 125px;
  font-weight: 700;
  font-size: 2.5em;
  color: #fff;
  padding: 20px;
}

.hashtags {
  display: flex;
  width: 576px;
  height: 68px;
  margin-top: 40px;
  border-radius: 5px;

}

.hastag {
  width: 150px;
  height: 36px;
  background-color: var(--light-bg);
  margin-right: 20px;
  border-radius: 5px;
  
}

#profile-container .arrow{
  width: 100px;
  height: 50px;
  background-color: var(--light-bg);
  position: absolute;
  bottom: 50px;
  left: 65px;
  border-radius: 5px;

}

/* membership */

.membership {
  width: 100%;
  height: 468px;
  
}

